{% extends 'base0.html' %}

{% block content %}
      <div class="row" style="padding-top: 15px;">
        <div class="col-md-8 col-sm-6"></div>
        <div class="col-md-4 col-sm-6">
            <div class="col-sm-8 col-md-8">
              <input type="text" class="form-control"  placeholder="Search" id="searchCnt" >
            </div>
            <div class="col-sm-4 col-md-4">
              <button type="button" name="button" class="btn btn-danger" onclick="searchBtn();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
      </div>
      </div>
      <br>
      <div class="row">
      {% for shoe in listGiay %}
      <div class="col-sm-4 col-md-3" id="shoe{{ shoe.GiayCode }}" >
        <div class="thumbnail" style="height: 400px;">
          <div style="width: 100%; height: 250px">
            <img src="{{ shoe.GiayAnh.url }}" alt="Giay {{ show.GiayCode }}" width="100%" height="100%">
          </div>
          <div class="caption" style="text-align: center;">
              <h3>Mã giày: {{ shoe.GiayCode }}</h3>
              <p>...</p>
              <p>
                <a href="detail/{{shoe.pk}}" class="btn btn-danger" role="button">Borrow</a>
                <a href="detail/{{shoe.pk}}" class="btn btn-success" role="button">Return</a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </body>

  <script type="text/javascript">

    function searchBtn() {

      var searchnd = document.getElementById('searchCnt').value;
      {% for s in listGiay %}
        var codeg = {{s.GiayCode}};
          if ( codeg == searchnd.toString()){
            var pik = {{s.pk}};
          }
      {% endfor %}

      if (searchnd.length != 0){
          let linku = "/detail/" + pik.toString();
          document.location.href = linku;
          console.log(searchnd.toString());
          console.log(pik);
          console.log(codeg);

      }else{
              alert('nothing');
      }
    };

    function loginForm(){
      document.getElementById("login-form").style.display = "block";
      document.getElementById("temperary").style.display = "none";
    };



  </script>
{% endblock %}
